body {
  background-image: url("https://img.freepik.com/foto-gratis/flores-lindos-fondo-rosa-espacio-derecha_23-2147691006.jpg?size=626&ext=jpg");
  background-repeat:no-repeat;

}
h1{
   padding:1rem;
   font-family: cursive;
   font-size: 5rem;
   letter-spacing: 0.15rem;
   color: #bd2222;
  }

  h2{
   padding: 1rem;
  margin-left:0px;
   font-family: cursive;
   font-size: 5rem;
   letter-spacing: 0.15rem;
   color: #bd2222;
}

.heart{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height:100px;
  display:flex;
  aligned-items: center;
}
.obj{
    width: 6px ;
    height:40px ;
    background: white ;
    margin: 0 3px;
    border-radius: 10px ;
  animation:heart 0.9s infinite;
}

.obj:nth-child(1), .obj:nth-child(9){
  background-color: red;
  animation: obj-2 3s infinite;
  animation-delay:0s;
}
.obj:nth-child(2), .obj:nth-child(8) {
  background-color: orange;
  animation: obj-2 3s infinite;
  animation-delay: 0.15s;
}

.obj:nth-child(3), .obj:nth-child(7) {
  background-color:yellow;
  animation: obj-3 3s infinite;
  animation-delay: 0.30s;
}

.obj:nth-child(4), .obj:nth-child(6) {
  background-color:purple;
  animation: obj-4 3s infinite;
  animation-delay: 0.45s;
}

.obj:nth-child(5) {
  background-color:green;
  animation: obj-5 3s infinite;
  animation-delay: 0.60s;
}

@keyframes obj-5{
  0%, 10%, 90%, 100%{
    height:10px;
    top:-5px;
  }
  45%, 55%{
    height:98px;
    top:-23px;
  }
}
@keyframes obj-2{
   0%, 10%, 90%, 100% { 
     height: 10px;
     top: -5px;
  }
  45%, 55% {
    height: 60px;
    top: -31px;
  } 
}
@keyframes obj-3{
   0%, 10%, 90%, 100% {
     height: 10px;
     top: -5px; }
  45%, 55% {
    height: 80px;
    top: -37px; 
}
}
@keyframes obj-4{
   0%, 10%, 90%, 100% {
     height: 10px;
     top: -5px;
  }
  45%, 55% {
    height: 90px;
    top: -31px;
}
}
@keyframes obj-1{
    0%, 10%, 90%, 100% {
      height: 10px;
      top: -5px;
  }
  45%, 55% {
    height: 30px;
    top: -15px
}
  }

p{
color:#000;
}

/*--footer sm icons--*/
footer {
    font-family: sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    text-align:center;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 400px;
    height: 10px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin: 100px 0 20px 0;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e0a4be;
}
.fa-linkedin:hover {
    background-color: #007bb6;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e064aa;
}
.fa-github:hover {
    background-color: #800080;
}
.fa-codepen {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d83a94;
}
.fa-codepen:hover {
    background-color: #191919;
}
.fa-google-plus {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ea0a89;
}
.fa-google-plus:hover {
    background-color: #d43b1c;
}
