canvas {
  border:3px solid #032c63;
  background-color:#04aba7;
  height: 400px;
  width:400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  position: relative;
}  
input{
  font-size: 10pt;
  text-align: center;
   color: #000;
   border-radius: 20px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);   
  padding: 4px 10px;
}
body{
  background-image: url("https://i.pinimg.com/originals/b6/58/e1/b658e1bea5ae667dba809589a31570cd.jpg");
  background-size:200%;
}

<!--footer sm icons-->
footer {
    font-family: sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    text-align:center;
  background:#555;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #007bb6;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #800080;
}
.fa-codepen {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-codepen:hover {
    background-color: #191919;
}
.fa-google-plus {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #d4472a;
}
