canvas {
  border:3px solid #c2d7f3;
  height: 400px;
  width:400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  position: relative;
}  
input{
  font-size: 10pt;
  text-align: center;
   color: #040404;
   border-radius: 20px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);   
  padding: 4px 10px;
}
body{
  background-image: url("https://images.wallpaperscraft.com/image/mask_hands_blur_121194_800x1420.jpg");

}

/*--footer sm icons--*/
footer {
    font-family: sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    text-align:center;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e0a4be;
}
.fa-linkedin:hover {
    background-color: #007bb6;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #e064aa;
}
.fa-github:hover {
    background-color: #800080;
}
.fa-codepen {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d83a94;
}
.fa-codepen:hover {
    background-color: #191919;
}
.fa-google-plus {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #ea0a89;
}
.fa-google-plus:hover {
    background-color: #d43b1c;
}
