canvas {
  border:3px solid #032c63;
  background-color:#04aba7;
  height: 400px;
  width:4000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  position: relative;
}  
input{
  font-size: 10pt;
  text-align: center;
   color: #000;
   border-radius: 20px;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);   
  padding: 4px 10px;
  width: 150px;
}
body{
  background-image: url("https://i.pinimg.com/originals/b6/58/e1/b658e1bea5ae667dba809589a31570cd.jpg");
  background-size:200%;
}
