/*-- Menu Bar style--*/												    
html, body{
    background: linear-gradient(to bottom, #f34, #725);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

h1{
  color:#000;
  font-weight: bold;
  font-family:serif;
  padding:10px 5px 5px;
}
h2{
  color:#000;
  font-weight: bold;
  font-family: serif;	
}
h3{
  font-size:bold 14px;
  font-family: sans-serif;
  color:#000;
}
p{
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0 auto;
}
p2{
color:#fff;
}


.header.container {
  height: 100%;											    
  display: flex;
  align-items: right;
  justify-content: right;
}
.header-bar {
  position: relative;
  width: auto;
  height: 50px;
  border: 10px solid transparent;
  border-top: 10px solid #fffa;
  border-left: 10px solid #fffa;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 60%;
  height: 49px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fffa;
  border-right: 10px solid #fffa;
  transition: 0.3s linear all;
}
.bar-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/*--Menu sections*/
.nav-container{
  text-decoration: none;
  color: #fff;
  margin: 1% 1% 10;
}

.bar-menu > li {
  display: inline-flex;
  padding: 14px;
  margin-left: 2px;
  font-family: sans-serif;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear all;
  user-select: none;
}
.bar-menu > li:hover {
  color: #faa;
  box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
 
/*--portfolio page--*/
.projects{
    border-image-width: 10px;
    float: right;
}

/*-- social media icons in footer --*/

footer {
  font-family: sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  font-size:12px;
  text-align:center;
}

.contact-social-icons { 
  width: 400px;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin: 100px 0 20px 0;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; 
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .1s;
  background: linear-gradient(to left, #100152,#0a41af, #5cb0d8);
}
.fa-linkedin:hover {
  background: #007bb6;
}
.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .1s;
  background: linear-gradient(to left, #1f012f,#732373, #ea8cdb);
}
.fa-github:hover {
  background: #800080;
}
.fa-codepen {
  padding:10px 13.15px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .1s;
  background:linear-gradient(to left, #020202,#7d2a46, #907878);
}
.fa-codepen:hover {
  background: #000000;
}
.fa-google-plus {
  padding:10px 11.43px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .1s;
  background:linear-gradient(to left, #f00,#F33a00,#ffa503);
}
.fa-google-plus:hover {
  background: #d4472a;
}
