
/*-- Menu Bar style--*/												    
   body{
      height: 100vh; 
      width:80%;
      margin: 10;
      background: linear-gradient(to bottom, #f34, #725);
      overflow: hidden;
      display: flex;
      align-items: center;
      font-family: sans-serif;
}
.header.container {
        height: 100%;											    
	display: flex;
	align-items: right;
	justify-content: right;
}
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 60%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
												    
/*-- social media icons--*/

.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
}
        a{
		margin: 0 20px;
		color: #fff;
		text-decoration:none;
		transition: all 400ms ease;
	}
	a:hover{
	        color: #222;
		}


	/*--Canvas*/			    
.canvas {
  width : 300px;
  height :300px;
  border: solid brown;
  background-color:lightblue;
}
