
/* Titles */
.about-title,
.portfolio-title,
.contact-title {
  width: 100%;
  margin: 0;
  padding: 2em 0 1em;
  color: #ff789e;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.about-title-dot,
.portfolio-title-dot,
.contact-title-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #ff789e;
}

/***  Header  ***/
.header {
  background-image: url();
  background-repeat: repeat;
  background-size: 400px;
  background-position: top left;
  height: 530px;
  text-align: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
}
.header-title {
  display: inline-block;
  background-color: #fff;
  padding: 0 15px;
  color: #ff789e;
  font-size: 2.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 2em;
  left: 50%;
}
.header-subtitle {
  display: inline-block;
  background-color: #8d94ba;
  padding: 3px 15px;
  color: #fff;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
  top: 6em;
  left: 50%;
}
.canvas {
  width : 300px;
  height :300px;
  border: solid brown;
  background-color:lightblue;
}
