
/*-- Menu Bar style--*/												    
  html, body{
      height: 100vh; 
      width:100%;
      background: linear-gradient(to bottom, #f34, #725);
      font-family: sans-serif;
      justify-content: center;
      align-items: center;
}
h1{
	color:#fff;
	font-weight: bold;
}
h2{
	
}
h3{
	
}
.Home{
}
.About{
}
.Portfolio{
}
.PhotoGallery{
}

.header.container {
        height: 100%;											    
	display: flex;
	align-items: right;
	justify-content: right;
}
.header-bar {
	position: relative;
	width: 100%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 60%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.bar-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.nav-container{
    text-decoration: none;
    color: #fff;
  margin: 1% 1% 10;
}
.bar-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.bar-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
												    
/*-- social media icons in footer --*/


footer {
    font-family: sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    text-align:center;
}
/*a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}*/

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
.fa-codepen {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-codepen:hover {
    background-color: #5a32a3;
}
.fa-google-plus {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #5a32a3;
}
